@import './reset.scss';
@import './categories.scss';
@import './filters.scss';
@import './categoriesvertical.scss';
@import './cards.scss';
@import './pagination.scss';
@import './footer.scss';
@import './header.scss';
@import './cart.scss';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;

  color: #000000;
}

.wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  padding-bottom: 2px;
  box-shadow: 0 4px 16px #ccc;
}

.container {
  max-width: 1370px;

  margin-left: auto;
  margin-right: auto;
  @media (max-width: 950px) {
    max-width: 950px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hometop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    @media (max-width: 950px) {
      font-size: 20px;
    }
  }
}
.namem {
  &-back {
    width: 80px;
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background: #ffca65;
      opacity: 0.3;
      border-radius: 100px;
    }
    p {
      font-weight: 600;
      font-size: 10px;
      color: #3f4e65;
      text-transform: uppercase;
    }
  }
  h1 {
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    @media (max-width: 950px) {
      font-size: 20px;
    }
  }
}

.sort {
  position: relative;
  &-label {
    display: flex;
    align-items: center;

    p {
      margin-right: 8px;
      font-weight: 500;
      font-size: 16px;
    }

    span {
      color: #3f4e65;
      border-bottom: 1px dashed #ffc85e;
      cursor: pointer;
    }
  }

  &-popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
          padding-left: 5px;
        }

        &.active,
        &:hover {
          background: linear-gradient(
            90deg,
            rgba(255, 198, 80, 0.3) 0%,
            rgba(254, 202, 110, 0.3) 97.25%
          );
        }

        &.active {
          font-weight: bold;
          color: #ffc85e;
        }
      }
    }
  }
  @media (max-width: 950px) {
    padding-bottom: 37px;
  }
}
.parametersandcards {
  display: flex;
  justify-content: space-between;
}
.lorem {
  width: 910px;
  line-height: 21px;
  padding-bottom: 100px;
  @media (max-width: 950px) {
    width: auto;
    padding-bottom: 50px;
  }
}

.additem {
  width: 153px;
  height: 45px;
  margin: 20px 0;
  background: #ffc85e;
  border-radius: 80px;
  color: #ffffff;
}
.buttonm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #ffca65;

  opacity: 0.5;
  border-radius: 100px;

  img {
    opacity: 1;
  }
}
.filterm {
  display: flex;
  justify-content: flex-start;
  padding-top: 19px;
}
